* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    background-color: rgb(26, 26, 116);
}
.heading .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
a {
    padding-left: 2em;
    text-decoration: none;
    color: white;
    font-size: large;
    font-weight: bold;
}
h1 span {
    color: rgb(214, 172, 22);
    font-weight: bold;
}
h1 {
    color: white;
}
.content-service {
    margin:34px;
    display:flex;
 } 
 .content-service .box{
     border:2px solid brown;
     padding: 34px;
     margin:3px 6px;
     border-radius: 23px;
     background-color: antiquewhite;
     height: 55vh;
 
 }
 .content-service .box img{
     height:160px;
     display:block;
     margin:auto;    
 }
 .box .h-secondary {
    padding-top: 1.5em;
    display:flex;
    justify-content: center;
 }
 .center {
    font-size: large;
    text-align: center;
    line-height: 1.5em;
    padding-top: 1em;
 }
 .serves {
    color: rgb(26, 26, 140);
    position: relative;
    margin: 5vh;
    font-size: 3.8em;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 2px violet;
 }
 body {
    background-color: bisque;
    font-family: sans-serif;
    height: 100vh;
 }